version: "3.5"

volumes:
  plutus-data:
  plutus1-data:
  plutus2-data:
  plutus3-data:
  plutus4-data:
  explorer-data:
  mn1:

services:
  n0:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    ports:
      - "0.0.0.0:51473:51473"
      - "0.0.0.0:51472:51472"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./plutus-data:/app/.plutus
    restart: always

  n1:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.244.46.240:51472'
    ports:
      - "0.0.0.0:51473:51473"
      - "0.0.0.0:51472:51472"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./plutus1-data:/app/.plutus
    restart: always

  n2:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.56.198.105:51472'
    ports:
      - "0.0.0.0:51473:51473"
      - "0.0.0.0:51472:51472"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./plutus2-data:/app/.plutus
    restart: always

  n3:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.56.206.181:51472'
    ports:
      - "0.0.0.0:51475:51473"
      - "0.0.0.0:51474:51472"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./plutus3-data:/app/.plutus
    restart: always

  n4:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.56.206.181:51472'
    ports:
      - "0.0.0.0:51473:51473"
      - "0.0.0.0:51472:51472"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./plutus4-data:/app/.plutus
    restart: always

  n5:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.56.206.181:51472, 47.244.46.240:51472, 47.56.198.105:51472'
    ports:
      - "0.0.0.0:51473:51473"
      - "0.0.0.0:51472:51472"
    volumes:
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./plutus5-data:/app/.plutus
    restart: always

  mn1:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.56.206.181:51472, 47.244.46.240:51472, 47.56.198.105:51472'
      IP: '27.7.252.231'
      PRIVKEY: '87qduqiuQTRjFRjvT3RWBjpQvCcE2Sv87hcBkaepmVPWjRJvr2W'
    ports:
      - "0.0.0.0:11012:51473"
      - "0.0.0.0:11011:51472"
    volumes:
      - ./mnentrypoint.sh:/app/entrypoint.sh
      - ./masternode1.conf:/app/.plutus/masternode.conf
    restart: always

  mn2:
    build: .
    command: ['sh', '-c', '/app/entrypoint.sh']
    environment:
      REMOTES: '47.56.206.181:51472, 47.244.46.240:51472, 47.56.198.105:51472'
      IP: '27.7.252.231'
      PRIVKEY: '87qduqiuQTRjFRjvT3RWBjpQvCcE2Sv87hcBkaepmVPWjRJvr2W'
    ports:
      - "0.0.0.0:11012:51473"
      - "0.0.0.0:11011:51472"
    volumes:
      - ./mnentrypoint.sh:/app/entrypoint.sh
      - ./masternode2.conf:/app/.plutus/masternode.conf
    restart: always

  # explorer:
  #   build: ../explorer/.
  #   command: ['sh', '-c', 'sleep 10 && ./blockbook -sync -blockchaincfg=./blockchaincfg.json -internal=:9030 -public=:9130 -logtostderr']
  #   volumes:
  #     - ../blockbook/build/blockchaincfg.json:/build/blockchaincfg.json
  #     - explorer-data:/build/data
  #   ports:
  #     - "0.0.0.0:9030:9030"
  #     - "0.0.0.0:80:9130"