policy_module(plutus, 1.100.1)

########################################
#
# Declarations
#

type plutus_t;
type plutus_exec_t;
init_daemon_domain(plutus_t, plutus_exec_t)

permissive plutus_t;

type plutus_initrc_exec_t;
init_script_file(plutus_initrc_exec_t)

type plutus_conf_t;
files_type(plutus_conf_t)

type plutus_var_lib_t;
files_type(plutus_var_lib_t)

type plutus_var_run_t;
files_type(plutus_var_run_t)

type plutus_port_t;
corenet_port(plutus_port_t)

########################################
#
# plutus local policy
#
allow plutus_t self:process { fork };

allow plutus_t self:fifo_file rw_fifo_file_perms;
allow plutus_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(plutus_t, plutus_conf_t, plutus_conf_t)
manage_files_pattern(plutus_t, plutus_conf_t, plutus_conf_t)

manage_dirs_pattern(plutus_t, plutus_var_lib_t, plutus_var_lib_t)
manage_files_pattern(plutus_t, plutus_var_lib_t, plutus_var_lib_t)
files_var_lib_filetrans(plutus_t, plutus_var_lib_t, { dir file })

manage_dirs_pattern(plutus_t, plutus_var_run_t, plutus_var_run_t)
manage_files_pattern(plutus_t, plutus_var_run_t, plutus_var_run_t)

sysnet_dns_name_resolve(plutus_t)
corenet_all_recvfrom_unlabeled(plutus_t)

allow plutus_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(plutus_t)
corenet_tcp_sendrecv_generic_node(plutus_t)
corenet_tcp_sendrecv_all_ports(plutus_t)
corenet_tcp_bind_generic_node(plutus_t)

gen_require(`
    type plutus_port_t;
')
allow plutus_t plutus_port_t:tcp_socket name_bind;

gen_require(`
    type plutus_port_t;
')
allow plutus_t plutus_port_t:tcp_socket name_connect;

domain_use_interactive_fds(plutus_t)

files_read_etc_files(plutus_t)

miscfiles_read_localization(plutus_t)

sysnet_dns_name_resolve(plutus_t)

allow plutus_t plutus_exec_t:file execute_no_trans;
allow plutus_t self:process setsched;
corecmd_exec_ls(plutus_t)
corenet_tcp_connect_http_port(plutus_t)
dev_read_urand(plutus_t)
fs_getattr_xattr_fs(plutus_t)
kernel_read_system_state(plutus_t)
