
## <summary>policy for plutus</summary>


########################################
## <summary>
##	Transition to plutus.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`plutus_domtrans',`
	gen_require(`
		type plutus_t, plutus_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, plutus_exec_t, plutus_t)
')


########################################
## <summary>
##	Execute plutus server in the plutus domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`plutus_initrc_domtrans',`
	gen_require(`
		type plutus_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, plutus_initrc_exec_t)
')


########################################
## <summary>
##	Search plutus lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`plutus_search_lib',`
	gen_require(`
		type plutus_var_lib_t;
	')

	allow $1 plutus_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read plutus lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`plutus_read_lib_files',`
	gen_require(`
		type plutus_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, plutus_var_lib_t, plutus_var_lib_t)
')

########################################
## <summary>
##	Manage plutus lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`plutus_manage_lib_files',`
	gen_require(`
		type plutus_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, plutus_var_lib_t, plutus_var_lib_t)
')

########################################
## <summary>
##	Manage plutus lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`plutus_manage_lib_dirs',`
	gen_require(`
		type plutus_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, plutus_var_lib_t, plutus_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a plutus environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`plutus_admin',`
	gen_require(`
		type plutus_t;
		type plutus_initrc_exec_t;
		type plutus_var_lib_t;
	')

	allow $1 plutus_t:process { ptrace signal_perms };
	ps_process_pattern($1, plutus_t)

	plutus_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 plutus_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, plutus_var_lib_t)

')

